@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #f0f0f0;
}

.card .chart {
    width: 100% !important;
    height: 100%;
    box-sizing: border-box;
  }


.full-table {
    width: 800px;
    box-sizing: border-box;
}
